<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sib.fascommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FASCommerce">
        <activity
            android:name=".Seller.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.User_Section1"
            android:exported="true" />
        <activity
            android:name=".Seller.ProductListActivity"
            android:exported="true"></activity>
        <activity android:name=".Seller.SellerHome">

        </activity>
        <activity
            android:name=".Seller.AddNewActivity"
            android:exported="false" />
        <activity
            android:name=".First.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".First.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".First.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".Customer.Show_Product"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Customer.UserSection" -->
        <!-- android:exported="true" -->
        <!-- tools:ignore="MissingClass" /> -->
        <activity
            android:name=".Admin.AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".Authentication.Login"
            android:exported="false" />
        <activity
        android:name=".Authentication.VerificationOTP"
        android:exported="false" />


        <activity
            android:name=".Admin.AdminStatistic"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>